---
layout: default
---
{% include icon_captures.html %}

<div style="padding:0.5em 1em;border-radius:2px;background-color:rgba(121,85,72,0.25)">
  <h2>Hello, Elm in the Spring!</h2>
  <ul class="no-bullets">
    <li>
      <a href="https://docs.google.com/presentation/d/e/2PACX-1vS9rMH3yse_jC3TjPUQCJ14yseO1XwdXFTXHpvz7Hv590BbqfFL93sUEncJ4_4yqj-z6KwNU1PUP8Gk/pub?start=false&loop=false&delayms=3000"
        >My Slides</a>
    </li>
    <li><a href="/blog/elm-type-tool-demo">Annotated Code</a></li>
</div>

<h2 id="writing">Writing</h2>
<ul class="no-bullets">
  {% for post in site.blog_posts %}
    {% capture starts_with %}{{ post.url | slice: 0 }}{% endcapture %}
    <li><a {% unless starts_with == "/" %}rel="external"{% endunless %} href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<h2 id="speaking">Speaking</h2>
<ul class="no-bullets">
  <li><a href="https://www.youtube.com/watch?v=BcXQ2qaEzNI">{{ video_icon }} Getting to BEAM without going through Erlang</a></li>
  <li><a href="https://www.youtube.com/watch?v=Bt10M34vSwo">{{ video_icon }} Introducing Functional, Reactive Programming</a></li>
  <li><a href="/blog/lambda-calculus">{{ manuscript_icon }} Lambda Calculus</a></li>
  <li><a href="/blog/intro-to-data-structures">{{ manuscript_icon }} Intro to Data Structures</a></li>
  <li><a href="https://goo.gl/zViQzY">{{ manuscript_icon }} History of Hip-Hop Dance</a></li>
</ul>
