<!-- IcoMoon.io -->
<!-- https://creativecommons.org/licenses/by/4.0/ -->

{% assign _icon_styles = 'style="display: inline; width: 1em; height: 1em; stroke-width: 0; stroke: currentColor; fill: currentColor;"' %}

{% capture video_icon %}
  <svg {{_icon_styles}} title="Video"><use xlink:href="#icon-file-play"></use></svg>
{% endcapture %}
{% capture manuscript_icon %}
  <svg {{_icon_styles}} title="Manuscript"><use xlink:href="#icon-file-text2"></use></svg>
{% endcapture %}
{% capture home_icon %}
  <svg {{_icon_styles}} title="Home"><use xlink:href="#icon-home"></use></svg>
{% endcapture %}
{% capture twitter_icon %}
  <svg {{_icon_styles}} title="Twitter"><use xlink:href="#icon-twitter"></use></svg>
{% endcapture %}
{% capture github_icon %}
  <svg {{_icon_styles}} title="GitHub"><use xlink:href="#icon-github"></use></svg>
{% endcapture %}
