html,body {
  margin: 0;
  padding: 0;
}
body {
  font: 1.20em/1.62em sans-serif;
}
main {
  max-width: 50em;
  padding: 1em 1em 0;
  margin: 0 auto;
}
h1,h2,h3 {
  line-height: 1.20em;
}
pre {
  position: relative;
  overflow-x: scroll;
  background-color: #F0F0F0;
  border-radius: 0.1em;
  padding: 1.5em;
}
blockquote {
  font-style: italic;
}
hr {
  margin: 1.5em;
}
footer {
  margin: 2em 0;
  text-align: center;
}
footer a {
  padding: 1em;
  transition: all 250ms ease;
}
footer a:hover {
  background: rgba(0,0,0,0.05);
}
footer a svg {
  vertical-align: middle;
}

/* "fun" stuff */

:root {
  --text-shadow-x: -1.5;
  --text-shadow-y:  1;
}
h1 {
  display: inline-block;
  cursor: crosshair;
  text-shadow: calc(var(--text-shadow-x) * 0.05em) calc(var(--text-shadow-y) * 0.05em) #8a6a5e;
  transition: text-shadow 250ms ease-out;
}
