html,body {
  margin: 0;
  padding: 0;
}
body {
  font: 1.20em/1.62em sans-serif;
}
main {
  max-width: 50em;
  padding: 1em 1em 0;
  margin: 0 auto;
}
h1,h2,h3 {
  line-height: 1.20em;
}
li {
  list-style-type: circle;
}
pre {
  position: relative;
  overflow-x: scroll;
  background-color: #F0F0F0;
  border-radius: 0.1em;
  padding: 1.5em;
}
blockquote {
  font-style: italic;
}
hr {
  margin: 1.5em;
}
footer {
  margin: 2em 0;
  text-align: center;
}
nav {
  display: inline-block;
}
footer a, nav a {
  padding: 1em;
  transition: all 250ms ease;
}
footer a:hover, nav a:hover {
  background: rgba(0,0,0,0.05);
}
a svg {
  height: 1em;
}
iframe {
  width: 100%;
  height: 25em;
}

/* Easter egg setup
   Shadow values use range [-1, 1] */
main > h1 {
  display: inline-block;
  cursor: crosshair;
  transition: text-shadow 100ms ease-out;
  text-shadow: calc(var(--text-shadow-x, -0.3) * 0.25em)
               calc(var(--text-shadow-y,  0.2) * 0.25em) #8a6a5e;
}
