html,body {
  margin: 0;
  padding: 0;
}
body {
  transition: transform 200ms;
  animation: fadein 400ms;
  font: 1.20em/1.62em sans-serif;
}
main {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
}
h1,h2,h3 {
  line-height: 1.20em;
}
pre {
  position: relative;
  overflow-x: scroll;
  background-color: #F0F0F0;
  border-radius: 2px;
  padding: 24px;
}
blockquote {
  font-style: italic;
}
hr {
  margin: 32px;
}
footer {
  margin: 2em 0;
  text-align: center;
}
footer a {
  padding: 1em;
  transition: all 400ms ease;
}
footer a:hover {
  background: rgba(0,0,0,0.05);
}
footer a svg {
  vertical-align: middle;
}
@keyframes fadein {
  0%   { opacity: 0; transform: translateY(1em); }
  100% { opacity: 1; }
}
