---
title: K0F1
permalink: /music/
layout: base
description: Original music and visual performances by K0F1
tracks:
  - CAVERNS
  - Anti-Gravity
  - Come _ Stay _
style: >
  html {
    background: black;
  }
  h1, h2, footer a {
    color: white;
  }
  h2 a {
    color: currentColor;
    text-decoration: none;
  }
  .hide {
    display: none;
  }
---
<header>
  <img src="/images/music.png">
  <h1>
    <span>K&Oslash;F1 &middot</span>
    <span style="font-weight: 100">Original Track<span data-hide>s</span></span>
  </h1>
</header>

<main>
  {% for track in page.tracks %}
  <p {% unless forloop.first %}data-hide{% endunless %}>
    {% assign chars = track | characters %}
    {% capture url %}K0F1-{{ track | uri_escape }}.mp3{% endcapture %}
    <a href="{{ url }}">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 15">
        <style>
          * {
            transition: fill 150ms, stroke 150ms;
          }
          text {
            line-height: 1;
            font-size: 12px;
            font-weight: 100;
            font-family: {{ site.font_family }};
          }
          svg:hover text {
            fill: black;
            stroke: black;
          }
          svg:hover rect {
            fill: white;
          }
        </style>
        <title>{{ track }}</title>
        <rect x="0" y="0" width="100%" height="100%" fill="black" stroke="0"></rect>
        <text x="0" y="12" fill="white" stroke="white" stroke-width="0">{% for x in chars %}<tspan>{{ x }}</tspan>{% endfor %}</text>
      </svg>
    </a>
    <audio preload title="{{ track }}"><source src="{{ url }}" type="audio/mpeg"></audio>
  </p>
{% endfor %}
</main>

<footer data-hide>
  <p>
    follow via
      <a href="https://www.youtube.com/channel/UCGLngLEo0198QxPmZnwnm9Q" rel="external">YouTube</a>
      and <a href="https://www.instagram.com/hkgumbs/" rel="external">Instagram</a>
  </p>
</footer>

<script>
  document.addEventListener("keypress", function(event) {
    if (event.key === "`")
      for (const x of document.querySelectorAll("[data-hide]"))
        x.classList.toggle("hide");
  });
  const AudioContext = window.AudioContext || window.webkitAudioContext;
  const audioContext = new AudioContext();

  for (const track of document.querySelectorAll("main p")) {
    const svg = track.querySelector("text");
    const length = svg.textContent.length;
    const audio = track.querySelector("audio");
    const source = audioContext.createMediaElementSource(audio);
    const analyser = audioContext.createAnalyser();

    source.connect(analyser)
    source.connect(audioContext.destination);

    const buffer = new Uint8Array(analyser.frequencyBinCount);
    const step = analyser.frequencyBinCount / length;
    const draw = function() {
      requestAnimationFrame(draw);
      analyser.getByteFrequencyData(buffer);
      for(let i = 0; i < length; i++) {
        const data = buffer.slice(Math.floor(i * step), Math.ceil((i + 1) * step));
        let sum = 0;
        for (const x of data) sum += x;
        svg.children[i].style.strokeWidth = sum / data.length / 64;
      }
    };
    draw();

    const play = function(event) {
      event.preventDefault();
      if (audioContext.state === "suspended") audioContext.resume();
      audio.paused ? audio.play() : audio.pause();
    };

    svg.addEventListener("click", play);
    audio.addEventListener("error", function() { svg.removeEventListener("click", play); });
  }
</script>
