---
layout: base
title: K0̷F1
permalink: /music/
image: /images/music.png
description: Original music and visual performances
seo: { "type": "MusicGroup" }
tracks:
  - CAVERNS
  - Anti-Gravity
  - Come _ Stay _
style: >
  html {
    background: black;
  }
  h1, footer a {
    color: white;
  }
  main a {
    position: relative;
    display: block;
    outline: none;
    text-decoration: none;
  }
  main a::after {
    /* Force links to capture svg clicks <https://stackoverflow.com/a/18018370> */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .hide {
    display: none;
  }
---
<header>
  <h1>
    <span>K0&#x0337;F1 &middot</span>
    <span style="font-weight: 100">Original Track<span data-hide>s</span></span>
  </h1>
</header>

<main>
  {% for track in page.tracks %}
  <p {% unless forloop.first %}data-hide{% endunless %}>
    {% assign chars = track | characters %}
    {% capture url %}K0F1-{{ track | uri_escape }}.mp3{% endcapture %}
    <a href="{{ url }}" tabindex="0">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 15" style="margin-left:-5%">
        <style>
          text {
            line-height: 1;
            font-size: 12px;
            font-weight: 100;
            font-family: {{ site.font_family }};
          }
        </style>
        <title>{{ track }}</title>
        <rect x="0" y="0" width="100%" height="100%" fill="black" stroke="0"></rect>
        <text x="0" y="12" fill="white" stroke="white" stroke-width="0"><tspan>&nbsp;</tspan>{% for x in chars %}<tspan {% if forloop.first %}x="5%"{% endif %}>{{ x }}</tspan>{% endfor %}</text>
      </svg>
    </a>
    <audio preload title="{{ track }}"><source src="{{ url }}" type="audio/mpeg"></audio>
  </p>
{% endfor %}
</main>

<footer data-hide>
  <p>
    follow via
      <a href="https://www.youtube.com/channel/UCGLngLEo0198QxPmZnwnm9Q" rel="external">YouTube</a>
      and <a href="https://www.instagram.com/hkgumbs/" rel="external">Instagram</a>
  </p>
</footer>

<script>
  document.addEventListener("keypress", function(event) {
    if (event.key === "`")
      for (const x of document.querySelectorAll("[data-hide]"))
        x.classList.toggle("hide");
  });

  window.addEventListener("load", function() {
    const AudioContext = window.AudioContext || window.webkitAudioContext;
    const audioContext = new AudioContext();

    for (const track of document.querySelectorAll("main p")) {
      const link = track.querySelector("a");
      const svg = track.querySelector("text");
      const audio = track.querySelector("audio");
      const source = audioContext.createMediaElementSource(audio);
      const analyser = audioContext.createAnalyser();

      source.connect(analyser)
      source.connect(audioContext.destination);

      analyser.fftSize = 256;
      const letters = Array.from(svg.children).slice(1);
      const buffer = new Uint8Array(analyser.frequencyBinCount);
      const step = analyser.frequencyBinCount / letters.length / 2;
      (function loop() {
        requestAnimationFrame(loop);
        analyser.getByteFrequencyData(buffer);
        for(let i = 0; i < letters.length; i++) {
          const data = buffer.slice(Math.floor(i * step), Math.ceil((i + 1) * step));
          let sum = 0;
          for (const x of data) sum += x;
          letters[i].style.strokeWidth = sum / data.length / 96;
        }
      })();

      const play = function(event) {
        event.preventDefault();
        if (audioContext.state === "suspended") audioContext.resume();
        audio.paused ? audio.play() : audio.pause();
      };

      link.addEventListener("click", play);
      audio.addEventListener("error", function() { link.removeEventListener("click", play); });
    }
  });
</script>
