---
---

html
  background: black
html body
  color: white
html footer a
  color: {{ site.theme_color }}


// Cross-browser input[type=range] styling

$track-color: white
$track-height: 2px
$track-radius: 2px
$track-border-width: 0
$track-shadow-size: 0
$track-shadow-blur: 0
$track-shadow-color: transparent

$thumb-color: white
$thumb-width: 2px
$thumb-height: 20px
$thumb-radius: 2px
$thumb-border-width: 0
$thumb-shadow-size: 0
$thumb-shadow-blur: 0
$track-shadow-color: transparent

@import "inputrange"


// Control elements

.controls
  display: flex
  flex-direction: row
  align-items: center

.controls button
  width: $thumb-height
  height: $thumb-height
  margin: 0 .5rem 0 0
  padding: 0
  border: none
  overflow: hidden
  background: transparent
  position: relative
  cursor: pointer

.controls .range
  flex: 1 0 auto
  display: flex


// Animated play/pause

.controls .line
  position: absolute
  top: 0
  left: 0
  width: $track-height
  height: 100%
  background: white
  border-radius: $track-height
  transition: all .2s ease

.controls .line:nth-child(1)
  opacity: 1
  transform: translate(8px, -4.6px) rotate(-60deg)
.controls .line:nth-child(2)
  opacity: 1
  transform: translate(8px, 4.6px) rotate(60deg)
.controls .line:nth-child(3)
  opacity: 1
  transform: translate(0)
.controls .line:nth-child(4)
  opacity: 0
  transform: translate(0)

.controls .playing .line:nth-child(1)
  opacity: 0
  transform: translate($thumb-height, -4.6px) rotate(-60deg)
.controls .playing .line:nth-child(2)
  opacity: 0
  transform: translate($thumb-height, 4.6px) rotate(60deg)
.controls .playing .line:nth-child(3)
  opacity: 1
  transform: translate(13px)
.controls .playing .line:nth-child(4)
  opacity: 1
  transform: translate(5px)
