<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    {% seo %}
    {% feed_meta %}

    <meta name="msapplication-TileColor" content="{{ site.theme_color }}">
    <meta name="theme-color" content="{{ site.theme_color }}">
    <link rel="icon" type="image/svg+xml" href="/images/logo.svg">

    <style>
      {% include styles.css %}
      {% include syntax.css %}
    </style>

    {{ page.head }}
    {{ layout.head }}
  </head>
  <body>
    {{ content }}
    <script data-goatcounter="https://stats.kofi.sexy/count" async src="//stats.kofi.sexy/count.js"></script>
  </body>
</html>
