<!DOCTYPE html>
<html lang="en" {% if page.dark or layout.dark %}class="dark"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    {% seo %}
    {% feed_meta %}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="{{ site.theme_color }}">
    <meta name="msapplication-TileColor" content="{{ site.theme_color }}">
    <meta name="theme-color" content="{{ site.theme_color }}">

    <style>
    {% capture styles %}
      {% include styles.css %}
      {% include syntax.css %}
      {{ layout.style }}
      {{ page.style }}
    {% endcapture %}
    {{ styles | normalize_whitespace }}
    </style>

    {% if page.tachyons %}
    <link rel="stylesheet" href= "https://cdn.jsdelivr.net/gh/hkgumbs/tachyons-with-css-variables@master/css/tachyons-with-css-variables.min.css" />
    {% endif %}
  </head>
  <body>{{ content }}</body>
</html>
