---
layout: base
head: <link rel="stylesheet" href="/music/styles.css" />
---

<header></header>
<main>
  <h1>{{ page.title | tare }}</h1>
  <div class="controls">
    <button aria-label="Play/pause">
      <span class="line" aria-hidden="true"></span>
      <span class="line" aria-hidden="true"></span>
      <span class="line" aria-hidden="true"></span>
      <span class="line" aria-hidden="true"></span>
    </button>
    <div class="range"><input type="range" value="0" max="1" step="any"></div>
  </div>
  <audio preload src="/music/Kofi Gumbs-{{ page.title }}.mp3"></audio>
</main>

{% include footer.html %}

<script>
  const AudioContext = window.AudioContext || window.webkitAudioContext;
  const audioContext = new AudioContext();

  const playback = document.querySelector(".controls button");
  const progress = document.querySelector(".controls input");
  const title = document.querySelector("h1");
  const audio = document.querySelector("audio");
  const source = audioContext.createMediaElementSource(audio);
  const analyser = audioContext.createAnalyser();

  source.connect(analyser);
  source.connect(audioContext.destination);
  audio.addEventListener("playing", () => playback.classList.add("playing"));
  audio.addEventListener("pause", () => playback.classList.remove("playing"));
  audio.addEventListener("error",  () => playback.classList.remove("playing"));
  audio.addEventListener("ended",  () => playback.classList.remove("playing"));
  progress.addEventListener("input", () => audio.currentTime = progress.value * audio.duration);

  playback.addEventListener("click", () => {
    audioContext.resume();
    audio.paused ? audio.play() : audio.pause()
  });

  analyser.fftSize = 256;
  const characters = title.querySelectorAll('[data-tare-character]');
  const buffer = new Uint8Array(analyser.frequencyBinCount);
  const step = analyser.frequencyBinCount / characters.length / 2;
  (function loop() {
    requestAnimationFrame(loop);

    if (audio.readyState <= 0) return;

    analyser.getByteFrequencyData(buffer);
    for(let i = 0; i < characters.length; i++) {
      const data = buffer.slice(Math.floor(i * step), Math.ceil((i + 1) * step));
      let sum = 0;
      data.forEach(x => sum += x);
      characters[i].style.setProperty("--border-width", Math.max(2, sum / data.length / 16) + "px");
    }

    progress.value = audio.currentTime / audio.duration;
  })();
</script>
