---
title: Kofi Gumbs
---

<nav><a href="/feed.xml">{% include rss.svg %}</a></nav>

<h2 id="writing">Writing</h2>
<ul>
  {% assign blog_posts = site.blogs | concat: site.external_posts | sort: "publish_date" %}
  {% for post in blog_posts reversed %}
  <li>{% include link.html title=post.title url=post.url %}</li>
  {% endfor %}
</ul>

<h2 id="speaking">Speaking</h2>
<ul>
  {% for post in site.talks reversed %}
  <li>{% include link.html title=post.title url=post.url %}</li>
  {% endfor %}
</ul>
