---
layout: base
title: Kofi Gumbs
permalink: /
description: "UI engineer & music producer. Baltimore, MD."
seo: { "type": "Person" }
style: >
  section {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 45rem;
  }
  article {
    height: 0;
    padding-bottom: 15rem; 
    position: relative;
  }
  article, .spacer {
    flex: 1;
    min-width: 15rem;
  }
  article * {
    color: currentColor;
  }
  article a {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    transition: all .15s ease;
  }
  article a:hover {
    color: white;
    background: #8a6a5e;
  }
  article dl {
    text-align: right;
  }
  .background {
    filter: brightness(30%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .background, article a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

---

<header>
  <h1>Kofi Gumbs</h1>
  <p>{{ page.description }}</p>
</header>

<section>
  {% assign posts = site.posts | concat: site.old_tracks | sort: "date" | reverse %}
  {% for post in posts %}
  {% capture starts_with %}{{ post.url | slice: 0 }}{% endcapture %}

  {% if post.categories.first == 'blog'  %}
  {% assign article_category   = 'Blog post' %}
  {% assign article_style      = '' %}
  {% assign article_background = '' %}

  {% elsif post.categories.first == 'talk'  %}
  {% assign article_category = 'Talk' %}
  {% assign article_style    = 'color: white;' %}
  {% capture article_background %}
  <div class="background" style="background-image: url('https://img.youtube.com/vi/{{ post.video_id }}/maxresdefault.jpg')"></div>
  {% endcapture %}

  {% elsif post.categories.first == 'music' %}
  {% assign article_category = 'Music' %}
  {% assign article_style    = 'background: black; color: white;' %}
  {% assign article_background = '' %}
  {% endif %}
 
  <article style="{{ article_style }}">
    {{ article_background }}
    <a href="{{ post.url }}" {% if starts_with != "/" %}rel="external"{% endif %}>
      <b>{{ post.title }}</b>
      <dl>
        {{ article_category }}
        <br>
        {{ post.date | date: "%B %e, %Y" }}
      </dl>
    </a>
  </article>
  {% endfor %}

  {% assign mod = site.posts.size | modulo: 6 %}
  {% for i in (mod..5) %}<div class="spacer"></div>{% endfor %}
</section>

{% include footer.html %}
