---
---
$track-color: white
$track-height: 1px
$track-radius: 0
$track-border-width: 0
$track-shadow-size: 0
$track-shadow-blur: 0
$track-shadow-color: transparent

$thumb-color: white
$thumb-width: 16px
$thumb-height: 16px
$thumb-radius: 50%
$thumb-border-width: 0
$thumb-shadow-size: 0
$thumb-shadow-blur: 0
$track-shadow-color: transparent

@import "inputrange"
